/* 全局样式 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

h1 {
    text-align: center;
    color: #444;
    margin-top: 20px;
}

/* 表格样式 */
table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse; /* 取消单元格间隙和边框合并 */
    border-spacing: 0; /* 确保单元格之间没有间隙 */
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* 添加圆角 */
    overflow: hidden; /* 确保表格内容不会溢出圆角 */
    border: none; /* 去掉表格的外边框 */
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border: none; /* 去掉单元格的边框 */
}

th {
    background-color: #f2f2f2;
    color: #555;
    font-weight: bold;
}

tr:hover {
    background-color: #f1f1f1; /* 设置行悬停效果 */
}

tr {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

td {
    color: #555;
}

/* 图片页面样式 */
#image-container {
    text-align: center;
    margin: 20px auto;
}

#dictionary-image {
    max-width: 90%;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
#button-container {
    text-align: center;  /* 居中按钮 */
    margin-top: 20px;
}

/* 按钮样式 */
button , a.button-link{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
}

/* 响应式设计 */
@media (max-width: 768px) {
    table {
        width: 100%;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }
}


